{% extends "main.html" %}

{% block title %}{{request.muaccount}}{% endblock %} 
{% block body %}
<div class="block">
<div class="headerNav">
  <ul>
     <li><a href="">Trackers</a></li>
     <li><a href="">Trends</a></li>
     <li><a href="">Scratchpad</a></li>
     <li><a href="">Tasks</a></li>
  </ul>
</div>
<div class="bd" style="background:#cccccc; height:60px;">
  <img src="http://t1.gstatic.com/images?q=tbn:6YOFZJgmhl1znM:http://rookery3.aviary.com/storagev12/1546000/1546405_8d1b_sqr.jpg" />
  <div style="position:relative; top:-40px; margin-bottom:5px;">
     <p style="margin-left:50px;">Tracker name <span style="color:#000000;">Query String</span> Under Pack Name</p>
     <span style="margin-left:50px; font-size:85%; font-style:italic;">Description</span>
  </div>
  <div class="clear"></div>
</div>
</div>

<div class="block">
<div class="bd">
<img src="http://graphjam.wordpress.com/files/2008/06/funny-graphs-twitter.gif" />
</div>
</div>
{% endblock %}

{% block sidebar %} 
<div class="block">
<div class="bd">
  <h2>Need help?</h2>
  <p>Help goes here</p>
</div>
</div>

<div class="block">
<div class="bd">
   <h2>Packs</h2>
   <ul>
     <li><a href="">Just</a></li>
     <li><a href="">An</a></li>
     <li><a href="">Example</a></li>
   </ul>
</div>
</div>
{% endblock %}

































