{% extends "main.html" %}
{% load smartif %}
{% block title %}Manage your site{% endblock %} 
{% block head %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2/jquery.min.js"></script> 
  <script type="text/javascript">
  $(document).ready(function(){

	{% for pack in packs %}
	$(".packSlide{{ pack.id }}").click(function(){
	  $("#pack{{ pack.id }}").slideToggle("normal").siblings().slideUp("slow");          
	  $(this).toggleClass("active");
           $(this).siblings().removeClass("active");
	});
	{% endfor %}
	{% for trend in trends %}
	$(".trendSlide{{ trend.id }}").click(function(){
	  $("#trend{{ trend.id }}").slideToggle("normal").siblings().slideUp("slow");          
	  $(this).toggleClass("active");
           $(this).siblings().removeClass("active");
	});
	{% endfor %}
	
  });
  </script>
{% endblock %}

{% block body %}
  <div class="block">
    <div class="bd">
     <h2>Application Settings</h2>
     <h4>This will be a place holder to allow application specific settings </h4>
     
</div></div>
<div class="block">
<div class="bd">
     <h2>Packs</h2>
     {% if packs %}
     <form action="" method="post">
     <ul id="packs">
     {% for pack in packs %}
       <li><input type="checkbox" name="packs" value="{{ pack.id }}" {% if request.muaccount in pack.muaccounts.all %}checked="checked"{% endif %} /><a href="#" class="packSlide{{ pack.id }}">{{ pack }}</a></li>      
     {% endfor %}
     </ul>
     <div class="expandable">
     {% for pack in packs %}
      <div id="pack{{ pack.id }}" style="display: none;">
         {% if pack.description %}{{ pack.description }}{% endif %}
         <ul>
         {% for channel in pack.channels.all %}
           <li>{{ channel }}{% if channel.description %} - {{ channel.description }}{% endif %}</li>
         {% endfor %}
         </ul>
       </div>
     {% endfor %}
    </div>
     <input type="submit" value="save"/>
     </form>
     {% endif %}
    <br />
    <p style="margin-bottom:0.5em;"><em>You are using {{ packs_used }} of {{ request.muaccount.owner.quotas.muaccount_packs }} available packs. There are other packs suitable for you:</em></p>
    <p style="font-size:110%;"><em><a href="">Upgrade</a> your plan for other packs</em></p>
</div>
</div>

<div class="block">
<div class="bd">
  <h2>Trackers</h2>
    {% if trackers %}
    <ul id="trackers">
      {% for tracker in trackers %}
      <li><a href="{% url tracker_edit tracker.id %}">{{ tracker }}</a></li>      
      {% endfor %}
      <li><a href="{% url tracker_index %}">see more here</a></li>
    </ul>
   {% endif %}
  <br />
  <p>You're allowed {{ request.muaccount.owner.quotas.muaccount_trackers }} trackers. <a href="">Upgrade</a> your plan for more</p>
</div>
</div>

<div class="block">
<div class="bd">
  <h2>Trends</h2>
    {% if trends %}
    <ul id="trackers">
      {% for trend in trends %}
      <li><a href="#" class="trendSlide{{ trend.id }}">{{ trend }}</a></li>      
      {% endfor %}
      <li><a href="{% url tracker_trend_index %}">see more here</a></li>
    </ul>
     <div class="expandable">
     {% for trend in trends %}
      <div id="trend{{ trend.id }}" style="display: none;">
         {% if trend.description %}{{ trend.description }}{% endif %}
         <ul>
         {% for tracker in trend.trackers.all %}
           <li>{{ tracker }}{% if tracker.description %} - {{ tracker.description }}{% endif %}</li>
         {% endfor %}
         </ul>
       </div>
     {% endfor %}
    </div>
   {% endif %}
  <br />
</div>
</div>

<div class="block">
<div class="bd">
  <h2>Other Apps</h2>
  <form action="#" method="post">
  <p>Choose whether you want Scratchpad, Tasks or nothing</p>
  <input type="radio" name="apps" value="both" /> Scratchpad & Tasks
<br />
<input type="radio" name="apps" value="scratchpad" /> Scratchpad
<br />
<input type="radio" name="apps" value="nothing" /> Nothing
<p><input type="submit" value="Save!">
<br />
  </form>
</div>
</div> 
{% endblock %}
{% block sidebar %}

  <div class="block">
      <div class="bd">
         <h2><a href="/extend/general">General Settings</a></h2>
         <h2><a href="/extend/themes">Colors & Styles</a></h2>
         <h2><a href="/extend/users">Users</a></h2>
         <h2><a href="/extend/advanced">Advanced Settings</a></h2>
         <h2><a href="/extend/apps">Applications Settings</a></h2> 
      </div>
    </div>
 
  
{% endblock %}






















